* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;

    color: #464e74;
    background: linear-gradient(46deg, #3023AE 0%, #f3ab61 100%);
}

div#container {
    margin: 0 auto;
    max-width: 40rem;
    background: #f2f2f2;
    background: linear-gradient(45deg, #efefef 0, #f2f2f2 100%);
    min-height: 100vh;
    box-shadow: -6px 6px 7px 2px rgba(0,0,0.2,0.13), -2px 2px 4px 0 rgba(40,30,105,0.7);
}

main {
    padding: 0 2rem 2rem 2rem;
}

div.bit {
    margin-bottom: 2rem;
}

div.bit::after {
    content: '';
    margin: 0 auto;
    background: #fff;
    height: 1px;
    display: block;
    margin-top: 2rem;
    box-shadow: 0 -1px 1px rgba(200,200,200,0.4);
}

@media screen and (min-width: 640px) {
    div#container {
        max-width: 60rem;
    }

    main {
        display: grid;
        grid-template-columns: 46% 46%;
        grid-column-gap: 8%;
    }

    div.bit {
        margin-bottom: 0;
    }

    div.bit::after {
        display: none;
    }
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    background: #3023ae;
    background: linear-gradient(90deg, #2d219a 0, #3023ae 2%, #c86dd7 100%);
    text-align: center;

    padding: 0 1rem 4rem 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
}

header h1 {
    order: 2;
    color: #fff; 
    text-shadow: #21359775 -8px 8px 0;
    font-size: 3rem;
}

header p {
    order: 1;
    color: #fdb9ee;
}

header div {
    order: 3;
}

header object {
    width: 100px;
    float: left;
    margin-top: -7rem;
    margin-left: 2rem;

    transform: skew(-12deg, 3deg);
    animation: wiggly 4s infinite;
}

@keyframes wiggly {
    0% {transform: skew(-12deg, 3deg);}
    50% {transform: skew(14deg, -14deg);}
    100% {transform: skew(-12deg, 3deg);}
}
/* individual SVG element anim is in SVG file */

header p a,
header p a:visited {
    color: #F4E0C5;
}
header p a:hover {
    text-shadow: -2px 2px rgba(0,0,0,0.4);
}
header .lowlight {
    opacity: 0.6;
}

/* Content */
h2 {
    color: #412BB2;
    font-weight: 400;
    background: linear-gradient(90deg, #2d219a 0, #3023AE 2%, #C86DD7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main p {
    line-height: 130%;
}

main a {
    color: #5d3abb;
}

main a:visited {
    color: #af2524;
}
main a:hover {
    background: #3023ae;
    color: #eba564;
}

.footer-creature {
    text-align: right;
}
.footer-creature img {
    margin-top: 3rem;
    width: 3rem;
    height: auto;
}
